
#sudoku-board td {
  width: 30px;
  height: 30px;
}






input[type="number"] {
  width: 80%;
  height: 100%;
  border: 3px rgb(1, 53, 1) solid;
  border-right: 5px rgb(1, 53, 1) solid;
  border-left: 5px rgb(1, 53, 1) solid;
  font-size: 16px;
  color: rgb(1, 53, 1);
  background-color: rgb(211, 188, 158);
  
}


input[type="number"]:focus {
  outline: none;
}

.title{
  color:  rgb(1, 53, 1);
  
}

body{
  background-color: rgb(211, 188, 158);
}